/* Custom Stylesheet */
/**
 
 * Made By  hArinandanShukla ,Webdevloper 
 */
/* Normal desktop :1200px. */
/* Normal desktop :992px. */
/* Tablet desktop :768px. */
/* small mobile :320px. */
/* Large Mobile :480px. */

body {
  
  font-weight: normal;
  font-style: normal;

  
  -webkit-user-select: none;
        -webkit-touch-callout: none;
        -moz-user-select: none;
        -ms-user-select: none;
      
        
}
nav ul a,
nav .brand-logo {
  color:#2196f3
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #27f7f7;
}
.pd2
{
  margin-top: 50px;
  
}
.bg1
{
  background: rgb(1,7,34);
  background: linear-gradient(204deg, rgba(1,7,34,1) 0%, rgba(6,0,3,1) 100%); 
}
.svg1
{
  height: 50vh;
  
  width: 750px;
 

}
.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
