{% extends 'base.html' %}
{% block title %} BCET GURDASPUR ALUMNI WEBSITE{% endblock %}

{% block content %}

<!--Reset Password-->
<div class="section">
    <div class="container ">
        <h2 >Reset Password</h2>
     <hr>
     <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
     <form method="POST">
         {% csrf_token %}
         {{ password_reset_form }}                    
         <button class="" type="submit">Send email</button>
     </form>
    </div>
</div>

{% endblock %}