{% load static %}
<!-- load static is for laoding the static files like img, js and css -->
<!doctype html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
 
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <!-- SEO Meta Tags -->
     <meta name="description" content="">
     <meta name="author" content="Harinandan SHukla">
         <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
	<meta property="og:site_name" content="" /> <!-- website name -->
	<meta property="og:site" content="" /> <!-- website link -->
	<meta property="og:title" content=""/> <!-- title shown in the actual shared post -->
	<meta property="og:description" content="" /> <!-- description shown in the actual shared post -->
	<meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
	<meta property="og:url" content="" /> <!-- where do you want your post to link to -->
	<meta property="og:type" content="article" />
     
    <!-- title-->
   <title>{% block title %}{% endblock %}</title>
   <!-- title finish-->
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <!--  Bootstrap CDN,jqyery,popper.js-->
 
   <link rel="stylesheet" href="{% static 'css/login.css' %}">
   
   <link rel="stylesheet" href="{% static 'css/materialize.css' %}">
   
        <!--Bootstrap-->
       
        <!--JavaScript-->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" 
          integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" 
          integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" 
          integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
        </script>  
      

     <!--   goggle font for header logo-->
     <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Redressed&display=swap" rel="stylesheet">   
<!--maincss start  
   sample:<link rel="stylesheet" href="{% static '/css/main.css' %}">
 create main.css in css folder before use 
    title-->
    <script src="{% static '/js/materialize.js' %}"></script>
    <script src="{% static '/js/init.js' %}"></script>
   
     <!-- Compiled and minified JavaScript -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            

   <script src="https://use.fontawesome.com/b0e50b68e6.js"></script>

   <!-- Favicon 
   <link rel="icon" href="{% static 'img/logo.png' %}">
   put a logo file in img folder which is inside static . so  that it can be appear in tabs.

title-->
</head>


<body>
    <!--  header and nav section-->
    {% block header %}
   
  <!--navbar-->
  <nav class="bg1 " role="navigation">
    <div class="nav-wrapper container"> <a id="logo-container " href="index.html" class="brand-logo "><h4 class="blue-text ">BCETIANS</h5></a>
      
    </div>
     
  </nav>
 
  
   
      
    

    {% endblock %}
    {% block content %}
    <!--  codes of other page will take place here-->
    {% endblock %}
    
      


    </div>
    <footer class="page-footer bg1 footer_height">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="blue-text">About </h5>
              <p class="grey-text text-lighten-4 ">
                B.C.E.T. gurdaspur (Beant College of Engineering and Technology) is an academic autonomous,
                 NBA and NAAC 'A' accredited engineering college
                  located in Gurdaspur, Punjab, India. BCET imparts education in various
                   engineering disciplines. BCET has seven academic and two administrative departments.
            </div>
            <div class="col l3 s12">
              <h5 class="blue-text">Quick Links</h5>
              <ul>
                <li><a class="white-text" href="#!">STORIES</a></li>
                <li><a class="white-text" href="#!">EVENTS</a></li>
                <li><a class="white-text" href="#!">BROWSE</a></li>
                <li><a class="white-text" href="#!">GALLERY</a></li>
              </ul>
            </div>
            <div class="col l3 s12">
              <h5 class="blue-text">Connect</h5>
              <ul>
                <li><a class="white-text" href="#!">BCET OFFCIAL SITE</a></li>
                <li><a class="white-text" href="#!">NEWS</a></li>
                <li><a class="white-text" href="#!"> Mail@examle.com</a></li>
                <li><a class="white-text" href="#!">+91 23456789</a></li>
                
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">  <i class="material-icons blue-text">copyright</i> BCET GURDASPUR, All rights are reserved 
          <div class="right">Made by <a class="brown-text text-lighten-3" href="https://www.linkedin.com/in/hari-nandan-shukla/", target="blank">Hari nandan Sukla</a></div>
          </div>
        </div>
      </footer>

    <!-- footer common to all -->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
   <script>
var mb = document.querySelectorAll('.materialboxed');
      M.Materialbox.init(mb,{

      })

   </script>
</body>

</html>