{% extends 'base.html' %}
{% block title %} BCET GURDASPUR ALUMNI WEBSITE{% endblock %}

{% block content %}
<div class=" ">
    <div class="section center container ">
        <div class="row">
            <div class="col l6 s12 center">
                <h3  class="white-text bold fnt1">CURRENT EVENTS <br> <span class="blue-text bold">Register Yourself In Various<span class="red-text"> EVENTS</span>.</h3>
                
            </div>
            <div class="col l6 s12">

                <div class=""><img src="/static/svg/Events.svg" class="svg1"></div>
              </div>
        </div>
    </div>
</div> 

<div>
    <div class="section  container">
        <div class="row "><h4 class="bold fnt1 blue-text center">EVENTS FOR AlUMNUS !!</h4>
          
      </div>
        <div class="row pd2">
            <div class="col l6 s12">
              <div class="card">
                  <div class="card-image">
                    <img src="../static/svg/degree.svg" alt="projectimage">
                    <span class="card-title bold fnt1 bg1">CONVOCATION 16 Batch</span>
                  </div>
                
                  <div class="card-content bg1 ">  
                    <p> <span class="blue-text fnt1">EVENT NAME </span>:  CONVOCATION 16 Batch <br>
                        <span class="blue-text fnt1">DATE </span>:  01/01/2022
                        <br>
                        <span class="blue-text fnt1">EVENT STATUS </span>:  <span class="red-text"> UpComing</span>
                        <br>
                        <span class="blue-text fnt1">CHIEF GUEST </span>:   Hon'ble Education Minister
                        <br>   <span class="blue-text fnt1">DESCRPTION </span> :
                        Professor install angel sector anywhere create at components smart.
                         Document fab developers encryption smartphone powered, bespoke blockstack 
                         edit atoms. Companies a storage adopters. Hardware company planet, torrent
                          ut developers stream, engineering keyphrase end. Document reality edit, 
                          install strategy startups hardware stream.
                    </p>
                  </div>
                  <div class="card-action bg1">
                      <button class="btn waves-effect bg1 btborder  " type="submit" name="action">
                           <a href="{% url 'EventAlumniMeetR'%}" class="center  blue-text">REGISTER</a>
                          <i class="material-icons right">send</i>
                        </button>
                   
                  </div>
                </div>
            </div>
            <div class="col l6 s12">
              <div class="card">
                  <div class="card-image ">
                    <img src="../static/svg/meet.svg" alt="projectimage">
                    <span class="card-title bold fnt1 bg1">20th ALUMNI MEET</span>
                  </div>
                  <div class="card-content bg1 ">
                    <p> <span class="blue-text fnt1">EVENT NAME </span>: 20th ALUMNI MEET  <br>
                        <span class="blue-text fnt1">DATE </span>:  02/01/2020
                        <br>
                        <span class="blue-text fnt1">EVENT STATUS </span>:  <span class="red-text"> Past EVENT</span>
                        <br>   <span class="blue-text fnt1">DESCRPTION </span> :
                        Professor install angel sector anywhere create at components smart.
                         Document fab developers encryption smartphone powered, bespoke blockstack 
                         edit atoms. Companies a storage adopters. Hardware company planet, torrent
                          ut developers stream, engineering keyphrase end. Document reality edit, 
                          install strategy startups hardware stream.
                    </p>
                  </div>
                  
                </div>
              

            </div>
        </div>
    </div>
</div>

{% endblock %}