{% extends 'base.html' %}
{% block title %} BCET GURDASPUR ALUMNI WEBSITE{% endblock %}

{% block content %}
<div class="section">
    <div class="container">
        <div class="row pd2">
            <div class="col l12 s12">
                <h3 class="white-text"> Regirstation is Suceesfull</h3>
            </div>
            <button class="btn waves-effect bg1  pd2 btborder " type="submit" name="action"> <a class="blue-text" href="{% url 'BCETIANSEVENTS' %}"> HOME</a>
                <i class="material-icons right">send</i>
              </button>
        </div>
    </div>
</div>
{% endblock %}