{% extends 'base.html' %}
{% block title %} BCET GURDASPUR ALUMNI WEBSITE{% endblock %}
{% block content %}
<div class=" bg1">
    <div class="section center container ">
        <div class="row">
            <div class="col l6 s12 center">
                <h3  class="white-text">Carrying traditions <br> <span class="blue-text bold">BOARD EXAMS</span>.</h3>
                <button class="btn waves-effect blue  " type="submit" name="action">CONNECT
                    <i class="material-icons right">send</i>
                  </button>
            </div>
            <div class="col l6 s12">

                <div class=""><img src="/static/svg/bg1.svg" class="svg1"></div>
              </div>
        </div>
    </div>

</div> 

{% endblock %}