{% extends 'base.html' %}
{% block title %} BCET GURDASPUR ALUMNI WEBSITE{% endblock %}
{% block content %}
<div class=" ">
    <div class="section center container ">
        <div class="row">
            <div class="col l6 s12 center">
                <h3  class="white-text bold fnt1">Carrying traditions !!<br> <span class="blue-text bold">Community of BCETIANS</span>.</h3>
                <button class="btn waves-effect bg1 btborder   " ><a href="{% url 'login'%}">CONNECT</a>
                    <i class="material-icons right">send</i>
                  </button>
            </div>
            <div class="col l6 s12">

                <div class=""><img src="/static/svg/bg1.svg" class="svg1"></div>
              </div>
        </div>
    </div>
</div> 

  <!--major projects done by BCETIANS-->
  <div>
      <div class="section  container">
          <div class="row "><h4 class="white-text bold fnt1 center">Projects that created Impacts !!</h4>
            <button class="btn waves-effect bg1  btborder right   " type="submit" name="action">View all
                <i class="material-icons right">send</i>
              </button>
        </div>
          <div class="row">
              <div class="col l6 s12">
                <div class="card">
                    <div class="card-image">
                      <img src="../static/img/p2.jpg" alt="projectimage">
                      <span class="card-title bold fnt1 bg1">PROJECT NAME</span>
                    </div>
                    <div class="card-content bg1 ">
                      <p>Professor install angel sector anywhere create at components smart. Document fab developers encryption smartphone powered, bespoke blockstack edit atoms. Companies a storage adopters. Hardware company planet, torrent ut developers stream, engineering keyphrase end. Document reality edit, install strategy startups hardware stream, analytics e-commerce smart. Privacy news data policies analytics documents install strategy startups hardware stream, analytics e-commerce smart. Privacy news data policies analytics documents.</p>
                      
                    </div>
                    <div class="card-action bg1">
                        <button class="btn waves-effect bg1 btborder  " type="submit" name="action">
                             <a href="#"class="center  blue-text">READ MORE</a>
                            <i class="material-icons right">send</i>
                          </button>
                     
                    </div>
                  </div>
              </div>
              <div class="col l6 s12">
                <div class="card">
                    <div class="card-image">
                      <img src="../static/img/p1.jpg" alt="projectimage">
                      <span class="card-title bold fnt1 bg1">PROJECT NAME</span>
                    </div>
                    <div class="card-content bg1 ">
                      <p>Professor install angel sector anywhere create at components smart. Document fab developers encryption smartphone powered, bespoke blockstack edit atoms. Companies a storage adopters. Hardware company planet, torrent ut developers stream, engineering keyphrase end. Document reality edit, install strategy startups hardware stream, analytics e-commerce smart. Privacy news data policies analytics documents</p>
                    </div>
                    <div class="card-action bg1">
                        <button class="btn waves-effect bg1 btborder  " type="submit" name="action">
                            <a href="#"class="center  blue-text">READ MORE</a>
                           <i class="material-icons right">send</i>
                         </button>
                    </div>
                  </div>
                

              </div>
          </div>
      </div>
  </div>
  <div class="section">
        
    <div class="">
        <div class="row">
        <div class="col s3 m3"><img src="../static/img/c1.png" alt="" class="materialboxed responsive-img"></div>  
        <div class="col s3 m3"><img src="../static/img/c2.png" alt="" class="materialboxed responsive-img"></div>
        <div class="col s3 m3"><img src="../static/img/c3.jpg" alt="" class="materialboxed responsive-img"></div>
          <div class="col s3 m3"><img src="../static/img/c4.jpg" alt="" class="materialboxed responsive-img"></div>
        
          </div>
        </div>
        </div>
<div class=" ">
    <div class="section center ">
        <div class="row">
            <div class="col l6 s12">

                <div class=""><img src="/static/svg/globe.svg" class="svg1"></div>
              </div>
            <div class="col l6 s12 center">
                <h3  class="white-text bold fnt1">We are around the !!<br> <span class="blue-text bold">GLOBE</span>.</h3>
                
         

<br>
      <table class="responsive-table  centered white-text">
        <thead>
          <tr>
              <th><i class="material-icons location_icon">location_city</i></th>
              <th><i class="material-icons location_icon">location_city</i></th>
              <th><i class="material-icons location_icon">location_city</i></th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>NOIDA</td>
            <td>CHANDIGARH</td>
            <td>BIHAR</td>
          </tr>
          <tr>
            <td>100+</td>
            <td>500+</td>
            <td>300+</td>
          </tr>
         
        </tbody>
      </table>
               </div>
        </div>
    </div>
</div> 



{% endblock %}